:root {
    /* --bg-color: #0e0e0e;
    --second-color: #fafafa; */
    --bg-color: #fafafa;
    --second-color:#0e0e0e;
    --third-color: #001ec4;
    --texts-font: 'Noto Sans Tamil', sans-serif;
    --section1-font: 'IBM Plex Mono', monospace;

    /*Animation*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--second-color);
    border: none;
    text-decoration: none;
    font-weight: 700;
}

.hidden {
    opacity: 0;
    /* transform: translateY(20%); */
    filter: blur(2px);
    transition: .8s;
}

.show {
    opacity: 1;
    /* transform: translateY(0); */
    filter: blur(0);
}

h2 {
    font-size: 34px;
    font-weight: 900;
    z-index: 0;
}

header {
    font-family: var(--texts-font);
    background-color: var(--bg-color);
    width: 100%;
    min-height: 60px;
    display: flex;
        justify-content: space-around;
        align-items: center;
    position: fixed;
        top: 0;
    z-index: 1;
}

header p {
    font-size: 1.1rem;
    cursor: pointer;
}

header div {
    display: flex;
    align-items: center;
    gap: 6rem;
}

.contact-btn {
    background-color: var(--second-color);
    color: var(--bg-color);
    width: 130px;
    height: 35px;
    border-radius: 20px;
    animation: shakeBtn 10s 10s infinite;
    cursor: pointer;
}

@keyframes shakeBtn {
    1% {
        transform: rotateZ(-4deg) scale(1.03);
    }
    2% {
        transform: rotateZ(4deg) scale(1.06);
    }
    3% {
        transform: rotateZ(-4deg) scale(1.09);
    }
    4% {
        transform: rotateZ(4deg) scale(1.09);
    }
    5% {
        transform: rotateZ(-4deg) scale(1.09);
    }
    6% {
        transform: rotateZ(4deg) scale(1.09);
    }
    7% {
        transform: rotateZ(-4deg) scale(1.06);
    }
    8% {
        transform: rotate(4deg) scale(1.03);
    }
    9% {
        transform: scale(1);
    }
}




main {
    font-family: var(--texts-font);
    background-color: var(--bg-color);
    overflow-y: hidden;
}

.section1, .section2, .section3, .section4 {
    min-height: calc(100vh + 10px);
}

.section1 {
    font-family: var(--section1-font);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hello {
    font-size: 36px;
    padding-bottom: 8px;
    font-weight: 500;
    position: relative;
    width: max-content;
}

.i-am {
    font-size: 85px;
    font-weight: 900;
    position: relative;
}

.developer {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    width: max-content;
}

.hello::before,
.hello::after,
.i-am::before,
.i-am::after,
.developer::before,
.developer::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pause-animation {
    animation-play-state: paused;
}

.hello::before {
    animation: typewriter 1s 1s steps(11) forwards;
}

.hello::after {
    content: var(--helloContent, '');
    animation: 
        typewriter 1s 1s steps(11) forwards,
        blink var(--helloBlink, 700ms) infinite;
    width: 0.3rem;
    background: var(--second-color);
}

.i-am::before {
    animation: typewriter 1.3s 2.8s steps(16) forwards;
}

.i-am::after {
    animation: 
        typewriter 1.3s 2.8s steps(16) forwards,
        blink var(--iAmBlink, 700ms) infinite;
    width: var(--iAmWidth, 0);
    background: var(--second-color);
}

.developer::before {
    animation: typewriter 1.6s 4.9s steps(24) forwards;
}

.developer::after {
    animation: 
        typewriter 1.6s 4.9s steps(24) forwards,
        blink var(--developerBlink, 700ms) infinite;
    width: var(--developerWidth, 0);
    background: var(--second-color);
}

@keyframes typewriter {
    100% {
        left: 100%;
    }
}

@keyframes blink {
    100% {
        background: transparent;
    }
}

.social-medias {
    display: flex;
    gap: .8rem;
    margin-top: 4rem;
}

.fa-linkedin, .fa-instagram, .fa-github {
    font-size: 23px;
}

.fa-angles-down {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    font-size: 20px;
    transform: translateY(200%);
    opacity: 0;
    animation: 
        appear .5s 7s forwards,
        bounce 2s 8s infinite;
}

@keyframes appear {
    /* 90% {
        opacity: 0.9;
    } */
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-100%);
        opacity: 0.2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    /* opacity: 0.3; */
}

.my-photo {
    width: auto;
    height: 400px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 610px;
    font-weight: 400;
}

/* .subtitle1::after, .subtitle2::after {
    content: '';
    background: #001ec433;
    position: absolute;
    z-index: -1;
}

.subtitle1::after {
    top: 16px;
    right: 472px;
    bottom: 8px;
    left: -4px;
}

.subtitle2::after {
    top: 16px;
    right: 454px;
    bottom: 8px;
    left: -4px;
} */

/* span {
    font-weight: 500;
    color: var(--third-color);
} */

/* strong::after {
    content: '';
    background: #001ec433;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 0;
} */

.right-column p, .right-column span{
    font-size: 1.3rem;
    line-height: 32px;
}

.subtitle2 {
    margin-top: 3rem;
}

.tech-div {
    display: flex;
    align-items: center;
    /* gap: 2rem; */
}

.tech-div > div {
    position: relative;
}

.tech-div .fa-html5, 
.tech-div .fa-css3-alt, 
.tech-div .fa-square-js, 
.tech-div .fa-git-alt, 
.tech-div .fa-database, 
.tech-div .fa-php, 
.tech-div .fa-wordpress {
    font-size: 65px;
    color: #858585;
    transition: .3s;
    padding: 0 1.1rem;
}

.tech-div .fa-html5/* :hover */ {
    color: #F75421;
}

.tech-div .fa-css3-alt/* :hover */ {
    color: #254BDD;
}

.tech-div .fa-square-js/* :hover */ {
    color: #EFD81D;
}

.tech-div .fa-git-alt/* :hover */ {
    color: #E84D31;
}

.tech-div .fa-php/* :hover */ {
    color: #7377AD;
}

.tech-div .fa-database/* :hover */ {
    color: #00718B;
}

.tech-div .fa-wordpress/* :hover */ {
    color: #1D88B8;
}

/*Hover quando passa o mouse em cima de cada tecnologia*/
.tech-div .fa-html5:hover {
    color: #f75321bc;
}
.tech-div .fa-html5:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-css3-alt:hover {
    color: #254BDDbc;
}
.tech-div .fa-css3-alt:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-square-js:hover {
    color: #EFD81Dbc;
}
.tech-div .fa-square-js:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-git-alt:hover {
    color: #E84D31bc;
}
.tech-div .fa-git-alt:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-database:hover {
    color: #00718Bbc;
}
.tech-div .fa-database:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-php:hover {
    color: #7377ADbc;
}
.tech-div .fa-php:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-wordpress:hover {
    color: #1d87b8bc;
}
.tech-div .fa-wordpress:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-html5 ~ p {
    left: 14px;
}

.tech-div .fa-css3-alt ~ p {
    left: 23px;
}

.tech-div .fa-square-js ~ p {
    left: 8px;
}

.tech-div .fa-git-alt ~ p {
    left: 33px;
}

.tech-div .fa-database ~ p {
    left: 15px;
    bottom: -49px;
}

.tech-div .fa-php ~ p {
    left: 42px;
}

.tech-div .fa-wordpress ~ p {
    left: 10px;
}

.tech-div .fa-database {
    font-size: 53px;
}

.tech-div p {
    font-size: 16px;
    position: absolute;
    bottom: -43px;
    opacity: 0;
    transform: translateY(30%);
    transition: .7s;
    font-weight: 800;
}




.section3 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
    overflow: hidden;
}

.projects-container {
    position: relative;
    width: 100%;
    min-height: 500px;
}

.section3 .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 3.5rem;
    transform: translate(0, -50%);
    z-index: 2;
    font-size: 85px;
    color: var(--second-color);
    cursor: pointer;
    transition: .5s;
}

.section3 .fa-chevron-left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 3.5rem;
    z-index: 2;
    font-size: 85px;
    color: var(--second-color);
    cursor: pointer;
    transition: .5s;
    display: none;
}

.projects-div {
    background-color: #fafafa;
    width: 540px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 0px 25px 3px #00000042;
    transition: 1s;
}

.projects-div p/* , .projects-div a  */{
    color: black;
}

.project-img-div {
    display: flex;
    justify-content: center;
    object-fit: contain;
    height: 238px;
    overflow: hidden;
}

.project-img {
    background-color: #666;
    height: 257px;
}

.project-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.project-name {
    font-size: 28px;
    font-weight: 800;
    text-shadow: 1px 1px 3px #00000036;
}

.project-description {
    text-align: center;
}

.project-info-div > div {
    display: flex;
    gap: .8rem;
}

.project-tech-div .fa-html5,
.project-tech-div .fa-css3-alt,
.project-tech-div .fa-square-js {
    font-size: 35px;
}

.project-tech-div .fa-html5 {
    color: #F75421;
}

.project-tech-div .fa-css3-alt {
    color: #254BDD;
}

.project-tech-div .fa-square-js {
    color: #EFD81D;
}

.project-links-div {
    display: flex;
    gap: 1rem;
}

.live-project, .source-code {
    background-color: #0028c9;
    height: 36px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    position: relative;
    border: 4px solid #0028c9;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000024;
}

.live-project:hover {
    background-color: #fafafa;
    color: black;
}

.live-project:hover .fa-desktop {
    color: black;
}

.live-project .fa-code {
    font-size: 20px;
}

.source-code:hover {
    background-color: #fafafa;
    color: black;
}

.source-code:hover .fa-code {
    color: black;
}

.project1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.project2 {
    position: absolute;
    left: 50%;
    transform: translate(100%) scale(0.7);
    opacity: 0.3;
}