:root {
    --background: hsl(0, 0%, 5%);
    --foreground: hsl(0, 0%, 93%);

    --popover: hsl(0, 0%, 13%);
    --popover-foreground: hsl(0, 0%, 93%);

    --modal: hsl(0, 0%, 13%);
    --modal-foreground: hsl(0, 0%, 93%);

    --primary-font: 'Noto Sans Tamil', sans-serif;
    --section1-font: 'IBM Plex Mono', monospace;
}

.light {
    --background: hsl(0, 0%, 93%);
    --foreground: hsl(0, 0%, 5%);

    --popover: hsl(0, 0%, 37%);
    --popover-foreground: hsl(0, 0%, 93%);

    --modal: hsl(0, 0%, 92%);
    --modal-foreground: hsl(0, 0%, 5%);

    --primary-font: 'Noto Sans Tamil', sans-serif;
    --section1-font: 'IBM Plex Mono', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--foreground);
    border: none;
    text-decoration: none;
    font-weight: 600;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background);
    position: relative;
}

button {
    background-color: transparent;
}

.hidden {
    display: none !important;
}

.hidden-effect {
    opacity: 0;
    filter: blur(.125rem);
    transition: 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

h2 {
    font-size: 1.875rem;
    font-weight: 800;
    z-index: 0;
}

header {
    background-color: var(--background);
    width: 100%;
    min-height: 3.75rem;
    display: flex;
        justify-content: space-around;
        align-items: center;
    position: fixed;
        top: 0;
    z-index: 1;
}

header p {
    font-size: 1.1rem;
    cursor: pointer;
}

.navigation__list, .buttons-header {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.hover-effect {
    position: relative;
    transition: .1s;
}

.hover-effect::before {
    content: '';
    background: var(--foreground);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 500%);
    opacity: 0;
    transition: .5s;
    width: .438rem;
    height: .438rem;
    border-radius: 50%;
}

.hover-effect:hover {
    font-weight: 700;
    transform: scale(1.1);
}

.hover-effect:hover::before {
    transform: translate(-50%, 380%);
    opacity: 1;
}

.lang-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
    cursor: pointer;
}

.lang-button > div {
    object-fit: contain;
    width: 1.813rem;
    height: 1.813rem;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.usaFlag, .brazilFlag {
    height: 1.813rem;
}

.hideFlag {
    display: none;
}

.lang-button button {
    cursor: pointer;
    background-color: transparent;
    font-size: 1.1rem;
}

.menu-options__lang-button span {
    color: #fafafa;
}

.extra-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.theme-button {
    background-color: var(--foreground);
    width: 2.25rem;
    height: 2.125rem;
    border: .125rem solid var(--foreground);
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.theme-button i {
    color: var(--background);
    position: absolute;
    transition: .3s;
}

@media (hover: hover) and (pointer: fine) {
    .theme-button:hover {
        background-color: var(--background);
    }
    
    .theme-button:hover i {
        color: var(--foreground);
    }
}

.fa-moon {
    font-size: 1.675rem;
}

.fa-sun {
    font-size: 1.325rem;
    translate: 200%;
}

.theme-button[data-theme="light"] .fa-moon {
  translate: -200%;
}

.theme-button[data-theme="light"] .fa-sun {
  translate: 0;
}



.contact-btn {
    background-color: var(--foreground);
    color: var(--background);
    width: 8.125rem;
    height: 2.188rem;
    border: .125rem solid var(--foreground);
    border-radius: 1.25rem;
    animation: shakeBtn 10s 10s infinite;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color .3s;
}

@media (hover: hover) and (pointer: fine) {
    .contact-btn:hover {
        background-color: var(--background);
        color: var(--foreground);
    }
}

@keyframes shakeBtn {
    1% {
        transform: rotateZ(-4deg) scale(1.03);
    }
    2% {
        transform: rotateZ(4deg) scale(1.06);
    }
    3% {
        transform: rotateZ(-4deg) scale(1.09);
    }
    4% {
        transform: rotateZ(4deg) scale(1.09);
    }
    5% {
        transform: rotateZ(-4deg) scale(1.09);
    }
    6% {
        transform: rotateZ(4deg) scale(1.09);
    }
    7% {
        transform: rotateZ(-4deg) scale(1.06);
    }
    8% {
        transform: rotate(4deg) scale(1.03);
    }
    9% {
        transform: scale(1);
    }
}

.hamburger-menu {
    width: 2.188rem;
    height: 1.688rem;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 6;
}

.hamburger-menu__lines {
    background-color: var(--foreground);
    width: 100%;
    height: .3rem;
    position: absolute;
    border-radius: .625rem;
    transition: .4s;
}

.hamburger-menu--selected > .line1 {
    transform: rotate(42deg) translate(0.375rem, 0.563rem);
    width: 2.5rem;
}

.hamburger-menu--selected > .line2 {
  opacity: 0;
}

.hamburger-menu--selected > .line3 {
    transform: rotate(-42deg) translate(0.375rem, -0.563rem);
    width: 2.5rem;
}

.line1 {
    top: 0;
}

.line2 {
    top: 50%;
    transform: translateY(-50%);
}

.line3 {
    bottom: 0;
}

.menu-options {
    background-color: var(--popover);
    width: 17.5rem;
    position: absolute;
    top: 0;
    right: -1px;
    transform: translateX(110%);
    transition: 
        transform .5s cubic-bezier(.64,.38,.67,1),
        border-radius .5s cubic-bezier(.64,.38,.67,1),
        background-color .5s cubic-bezier(.64,.38,.67,1);
    z-index: 5;
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    border-radius: 12.5rem;
    padding: 2.5rem 3rem 3rem 2rem;
}

.menu-options--opened {
    transform: translateX(0);
    border-radius: 0;
}

.menu-options__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.menu-options__text {
    font-size: .8rem;
    font-weight: 300;
    color: var(--popover-foreground);
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--popover-foreground);
    opacity: .8;
}

.menu-options__nav {
  margin-block: .5rem;
}

.menu-options__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.menu-options__link {
    color: var(--popover-foreground);
}







.behind-form-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.788);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.email-sent {
    background-color: #187a18;
    position: fixed;
    top: 2rem;
    z-index: 5;
    width: 21rem;
    padding: 1.7rem 0;
    border-radius: 0 .313rem .313rem 0;
    overflow: hidden;
    translate: -100%;
    animation: appear-message .3s 0s forwards ease-in;
    display: none;
}

@keyframes appear-message {
    100% {
        translate: 0;
    }
}

@keyframes close-message {
    100% {
        translate: -100%;
    }
}

.email-sent::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.3rem;
    width: 100%;
    background-color: #5ebf5e;
    border-radius: 0 0 .313rem 0;
    animation: loading 5s .3s forwards ease-out;
}

@keyframes loading {
    100% {
        translate: 100%;
    }
}

.email-sent p,
.email-sent i {
    color: #f4f4f4;
}

.email-sent p {
    font-size: 1.3rem;
    width: 77%;
    margin-left: 1rem;
}

.email-sent button {
    background-color: transparent;
    position: absolute;
    top: 2.1rem;
    right: 1.5rem;
    cursor: pointer;
    transition: .1s;
}

.email-sent button:hover {
    scale: 1.2;
}

.email-sent i {
    font-size: 2rem;
}

.form-container {
    background-color: var(--modal);
    /* color: var(--modal); */
    max-width: 33rem;
    width: 85%;
    min-height: 31.25rem;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    flex-direction: column;
    padding: 2rem 1.5rem;
    transition: 
        transform .5s,
        background-color .5s;
    border-radius: .938rem;
}

.not-working {
    background-color: #d87724;
    color: #fafafa;
    padding: .125rem .5rem;
    border-radius: .625rem;
    position: absolute;
    top: .188rem;
    right: 11rem;
    font-weight: 400 !important;
}

.form-container .fa-circle-xmark {
    position: absolute;
    top: .813rem;
    right: 1.563rem;
    font-size: 1.75rem;
    cursor: pointer;
    transition: .3s;
}

.form-container .fa-circle-xmark:hover {
    color: rgb(255, 49, 49);
}

.form-container > p:not(.not-working) {
    font-weight: 500;
    margin-top: .3rem;
    margin-bottom: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form__label {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
}


.contact-form__label span {
    translate: .625rem 1.9rem;
    transition: .24s;
    opacity: .6;
    cursor: initial;
    width: max-content;
}

/* .contact-form__label span::after {
    content: " *";
    color: rgb(223, 107, 29);
    font-weight: 300;
} */

.contact-form__label:focus-within span,
.contact-form__label:has([data-filled="true"]) span {
    translate: 0;
    opacity: 1;
}

.contact-form__label input,
.contact-form__label textarea {
    background-color: transparent;
    border: .125rem solid var(--foreground);
    padding: .375rem .438rem .25rem .438rem;
    font-weight: 300;
    letter-spacing: .05rem;
    font-family: var(--primary-font);
    resize: none;
}

.contact-form__label input[data-state="invalid"],
.contact-form__label textarea[data-state="invalid"] {
    border-color: hsl(0deg 100% 64%) !important;
}

.form-container__error {
    position: absolute;
    top: .1rem;
    right: 0;
    font-size: .9rem;
    font-weight: 500;
    color: hsl(0deg 100% 64%);
}

#email {
    padding: .375rem 2.125rem .25rem .438rem;
}

.contact-form__label .fa-circle-check,
.contact-form__label .fa-circle-exclamation {
    position: absolute;
    right: .625rem;
    top: 1.938rem;
    /* display: none; */
}

.contact-form__label .fa-circle-check {
    color: rgb(0, 151, 0);
}

.contact-form__label .fa-circle-exclamation {
    color: rgb(200, 157, 0);
}

.contact-form__submit-button {
    background-color: #043593 !important;
    color: #fafafa;
    width: 9.375rem;
    height: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.contact-form__submit-button:hover {
    opacity: .8;
}

.contact-form__submit-button:focus {
    opacity: .8;
}
/* .form-container::before {
    content: '';
    background: rgba(0, 0, 0, 0.634);
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
} */


.section1, .section2, .projects-section, .section4 {
    min-height: calc(100vh + .625rem);
}

.section1 {
    font-family: var(--section1-font);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
}

.portugueseAnimation,
.portugueseAnimation > div,
.englishAnimation, 
.englishAnimation > div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hideAnimation {
    display: none !important;
}

.title > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.hello {
    font-size: 2.25em;
    padding-bottom: .5em;
    font-weight: 500;
    position: relative;
    width: max-content;
}

.i-am {
    font-size: 5.313em;
    font-weight: 900;
    position: relative;
}

.i-am2, .i-am3 {
    font-size: 5.5em;
    font-weight: 900;
    width: max-content;
    position: relative;
    display: none;
}

.i-am3 {
    margin-bottom: .2em;
}

.developer {
    font-size: 2.25em;
    font-weight: 500;
    position: relative;
    width: max-content;
}

.hello::before,
.hello::after,
.i-am::before,
.i-am::after,
.i-am2::before,
.i-am2::after,
.i-am3::before,
.i-am3::after,
.developer::before,
.developer::after {
    content: '';
    background: var(--background);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pause-animation {
    animation-play-state: paused;
}

.hello::before {
    animation: typewriter .7s 1.5s steps(11) forwards;
}

.hello::after {
    content: '';
    animation: 
        typewriter .7s 1.5s steps(11) forwards,
        blink 700ms 4,
        stay 0s 1.5s forwards,
        disappear 0s 2.3s forwards;
    width: 0.3rem;
    background: transparent;
}

@keyframes blink {
    100% {
        background: var(--foreground);
    }
}

@keyframes stay {
    100% {
        background: var(--foreground);
    }
}

@keyframes disappear {
    100% {
        background: transparent;
    }
}

.i-am::before {
    animation: typewriter 1s 3.1s steps(16) forwards;
}

.i-am::after {
    animation: 
        typewriter 1s 3.1s steps(16) forwards,
        blink2 700ms 2.3s 2,
        stay2 0s 3.1s forwards,
        disappear2 0s 4.2s forwards;
    width: .3rem;
    background: transparent;
}

@keyframes blink2 {
    100% {
        background: var(--foreground);
    }
}

@keyframes stay2 {
    100% {
        background: var(--foreground);
    }
}

@keyframes disappear2 {
    100% {
        background: transparent;
    }
}

.i-am2::before {
    animation: typewriter .4s 3.2s steps(6) forwards;
}

.i-am2::after {
    animation: 
        typewriter .4s 3.2s steps(6) forwards,
        blink5 700ms 2.3s 2,
        stay5 0s 3.2s forwards,
        disappear5 0s 3.7s forwards;
    width: .3rem;
    background: transparent;
}

@keyframes blink5 {
    100% {
        background: var(--foreground);
    }
}

@keyframes stay5 {
    100% {
        background: var(--foreground);
    }
}

@keyframes disappear5 {
    100% {
        background: transparent;
    }
}

.i-am3::before {
    animation: typewriter .6s 3.65s steps(9) forwards;
}

.i-am3::after {
    animation: 
        typewriter .6s 3.65s steps(9) forwards,
        stay6 0s 3.65s forwards,
        disappear6 0s 4.4s forwards;
    width: .3rem;
    background: transparent;
}

@keyframes stay6 {
    100% {
        background: var(--foreground);
    }
}

@keyframes disappear6 {
    100% {
        background: transparent;
    }
}

.developer::before {
    animation: typewriter 1.2s 5.2s steps(24) forwards;
}

.developer::after {
    animation: 
        typewriter 1.2s 5.2s steps(24) forwards,
        blink3 700ms 4.4s 2,
        stay3 0s 5.2s forwards,
        blink4 700ms 6.4s infinite;
    width: .3rem;
    background: transparent;
}

@keyframes blink3 {
    100% {
        background: var(--foreground);
    }
}

@keyframes stay3 {
    100% {
        background: var(--foreground);
    }
}

@keyframes blink4 {
    100% {
        background: transparent;
    }
}

@keyframes typewriter {
    100% {
        left: 100%;
    }
}


.social-medias {
    display: flex;
    gap: .8rem;
    margin-top: 4rem;
}

.social-medias > a {
    display: flex;
    align-items: center;
}

.instagram-icon {
    width: 1.5rem;
    transition: transform .2s;
}

.linkedin-icon, .github-icon {
    font-size: 1.57rem;
    transition: transform .2s;
}

.linkedin-icon {
    color: #239AFC;
}

.instagram-icon:hover {
    transform: scale(1.2);
}

.github-icon:hover,
.linkedin-icon:hover {
    transform: scale(1.2);
}

.fa-angles-down {
    position: absolute;
    bottom: 6rem;
    left: 50%;
    font-size: 1.25rem;
    translate: -50%;
    transform: translateY(200%);
    opacity: 0;
    animation: 
        appear .5s 7s forwards,
        bounce 2s 8s infinite;
    cursor: pointer;
}

.fa-angles-down:hover {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes appear {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-100%);
        opacity: 0.2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding-top: 4.375rem;
    padding-bottom: 5rem;
    /* opacity: 0.3; */
}

.my-photo {
    width: auto;
    height: 25rem;
    border-radius: .625rem;
}

.my-photo2 {
    display: none;
    width: 100%;
    max-width: 25rem;
    border-radius: .625rem;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 39.25rem;
    font-weight: 400;
}

.right-column p,
.right-column span,
.right-column a {
    display: inline;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
}

.right-column span {
    /* background-color: #0097ff3d; */
    padding: 0 .125rem;
}

.right-column a {
    text-decoration: underline;
}

.subtitle2 {
    margin-top: 3rem;
}

.tech-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem 0.3rem;
}

.tech-icons {
    width: 4.5rem;
}

.tech-row1, .tech-row2 {
    display: flex;
    align-items: center;
}

.tech-row1 > div, .tech-row2 > div {
    position: relative;
}






.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;
    gap: 1.5rem;
    overflow: hidden;
}

.projects-section__title {
    font-size: 2.5rem;
    align-self: center;
}

.projects-section__container {
    position: relative;
    display: flex;
}

.projects-section__arrow-right,
.projects-section__arrow-left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    font-size: 5.313rem;
    color: var(--foreground);
    cursor: pointer;
    width: fit-content;
}

.projects-section__arrow-right {
    right: 3.5rem;
}

.projects-section__arrow-left {
    left: 3.5rem;
}

.projects-section__arrow-left:active,
.projects-section__arrow-right:active {
    opacity: .5;
}

.projects-section__list {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transition: translate 1s;
}

.project {
    background-color: #fafafa;
    width: min(30rem, 70vw);
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: .813rem;
    box-shadow: 
        0 .938rem 1.25rem 0 rgba(0,0,0,.2),
        0 .188rem .188rem 0 rgba(0,0,0,.10);
    transition: 
        translate 1s,
        scale 1s,
        opacity 1s;
    scale: .7;
    overflow: hidden;
}

.project-focus {
    scale: none;
}

.project * {
    color: black;
}

.project__img {
    object-fit: cover;
    aspect-ratio: 18/8;
}

.project__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.project__name {
    font-size: 1.75rem;
    font-weight: 800;
    text-align: center;
}

.project__description {
    text-align: center;
}

.project__links {
    display: flex;
    gap: 1rem;
}

.project__website-link, .project__code-link {
    height: 2.25rem;
    width: 10.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    font-weight: 600;
    position: relative;
    border: .188rem solid #0e0e0e;
    border-radius: .625rem;
    box-shadow: .125rem .125rem .313rem #00000024;
    transition: .2s;
}

.project__website-link {
    background-color: #0e0e0e;
    color: #fafafa;
}

.project__website-link i {
    color: #fafafa;
}

.project__website-link:hover {
    background-color: #1e1e1e;
    border: .188rem solid #1e1e1e;
}

.project__code-link, .project__code-link i {
    color: #0e0e0e;
}

.project__code-link:hover {
    background-color: #1e1e1e;
    border: .188rem solid #1e1e1e;
    color: #fafafa;
}

.project__code-link:hover * {
    color: #fafafa;
}

.project-soon {
    height: 26rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
    position: relative;
}

.project-soon::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/images/movie-theater.png);
    background-position: center;
    background-size: cover;
    opacity: 0.15;
    z-index: 0;
}

.project-soon p {
    font-size: 2.75rem;
    z-index: 1;
}

.pagination {
    display: flex;
    align-self: center;
    gap: .6rem;
    position: relative;
    margin-bottom: 1rem;
}

.pages {
    position: relative;
    width: .625rem;
    overflow: hidden;
}

.pages span {
    position: absolute;
    transition: .4s;
}

.page[data-page-state="behind"] {
    translate: 0 -200%;
}

.page[data-page-state="current"] {
    translate: 0;
}

.page[data-page-state="ahead"] {
    translate: 0 200%;
}

@media screen and (max-width: 1060px) {
    .my-photo {
        height: 18.125rem;
    }

    .right-column {
        max-width: 37rem;
    }

    .tech-icons {
        width: 4.1rem;
    }
}

@media screen and (max-width: 950px) {
    .projects-section__arrow-right {
        right: 1.5rem;
    }

    .projects-section__arrow-left {
        left: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    .my-photo {
        display: none;
    }

    .my-photo2 {
        display: block;
    }

    .section2 {
        flex-direction: column;
        gap: 3rem;
        margin-inline: 10%;
    }
}

@media screen and (max-width: 980px) {
    .PROPORTION1 {
        font-size: .8rem;
    }
}

@media screen and (max-width: 880px) {
    .navigation, .hideable-theme-button, .hideable-lang-button {
        display: none !important;
    }
    
    .hamburger-menu, .menu-options {
        display: flex;
    }

    header {
        justify-content: space-between;
        padding: 0 6%;
    }
}

/* @media (max-width: 810px) {
    .PROPORTION1 {
        font-size: .75rem;
    }
} */

@media screen and (max-width: 790px) {
    html {
        font-size: 90%;
    }

    .contact-form__label span {
      translate: .625rem 2rem;
    }
}

@media (max-width: 710px) {
    .PROPORTION1 {
        font-size: .65rem;
    }

    .fa-angles-down {
        font-size: 1.4rem;
    }
}

/* @media (max-width: 590px) {
    .PROPORTION1 {
        font-size: .65rem;
    }
} */

@media (max-width: 570px) {
    .PROPORTION1 {
        font-size: .55rem;
    }
}

@media screen and (max-width: 560px) {
    .not-working {
        padding: .125rem .438rem;
        right: 4rem;
    }

}

@media (max-width: 510px) {
    .project__links {
        flex-direction: column;
        gap: .5rem;
    }
}

@media (max-width: 490px) {
    .PROPORTION1 {
        font-size: .65rem;
    }
    
    .i-am {
        display: none;
    }

    .i-am2, .i-am3 {
        display: inline;
    }
}

@media screen and (max-width: 470px) {
    .projects-section__arrow-left {
        left: 0.5rem;
        font-size: 4rem;
    }

    .projects-section__arrow-right {
        right: 0.5rem;
        font-size: 4rem;
    }
}

@media (max-width: 430px) {
    .project__infos {
        gap: .75rem;
    }
}

@media screen and (max-width: 400px) {
    .email-sent {
        width: 17rem;
    }

    .email-sent p {
        font-size: 1.1rem;
        width: 69%;
    }

    .email-sent button {
        right: 1.3rem;
    }

    .email-sent i {
        font-size: 1.8rem;
    }

    .tech-icons {
        width: 3.8rem;
    }
}

@media (max-width: 380px) {
    .projects-section__arrow-right,
    .projects-section__arrow-left {
        font-size: 3.5rem;
    }
}

@media (max-width: 335px) {
    .PROPORTION1 {
        font-size: .55rem;
    }
}

@media screen and (max-width: 300px) {
    .form-container {
        width: 90%;
    }
}


/*=========================Para celular deitado=========================*/
@media screen and (max-height: 25rem) {
    .section1 {
        height: calc(100vh + 9rem);
    }

    .section2 {
        height: 550px;
    }

    .projects-section {
        height: 750px;
    }

    .menu-options {
        width: 390px;
        flex-direction: row;
    }
}