:root {
    --bg-color: #0e0e0e;
    --second-color: #f4f4f4;
    /* --bg-color: #fafafa;
    --second-color:#0e0e0e; */
    --third-color: #239AFC;
    --texts-font: 'Noto Sans Tamil', sans-serif;
    --section1-font: 'IBM Plex Mono', monospace;
    /*Animation*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--second-color);
    border: none;
    text-decoration: none;
    font-weight: 600;
    outline: none;
}


.hidden {
    opacity: 0;
    /* transform: translateY(20%); */
    filter: blur(2px);
    transition: 1s;
}

.show {
    opacity: 1;
    /* transform: translateY(0); */
    filter: blur(0);
}

h2 {
    font-size: 30px;
    font-weight: 800;
    z-index: 0;
}

header {
    font-family: var(--texts-font);
    background-color: var(--bg-color);
    width: 100%;
    min-height: 60px;
    display: flex;
        justify-content: space-around;
        align-items: center;
    position: fixed;
        top: 0;
    z-index: 1;
}

header p {
    font-size: 1.1rem;
    cursor: pointer;
}

.navigation, .buttons-header {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.portfolio, .aboutMe, .projects {
    position: relative;
    transition: .1s;
}

.portfolio::before, .aboutMe::before, .projects::before {
    content: '';
    background: var(--second-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 500%);
    opacity: 0;
    transition: .6s;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}

.portfolio:hover, .aboutMe:hover, .projects:hover {
    /* color: var(--third-color); */
    font-weight: 700;
    transform: scale(1.1);
}

.portfolio:hover::before, .aboutMe:hover::before, .projects:hover::before {
    transform: translate(-50%, 380%);
    opacity: 1;
}

.extra-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.theme-div, .theme-div2 {
    background-color: var(--second-color);
    width: 36px;
    height: 34px;
    border: 2px solid var(--second-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.theme-div i, .theme-div2 i {
    color: var(--bg-color);
    position: absolute;
    transition: .3s;
}

.theme-div:hover, .theme-div2:hover {
    background-color: var(--bg-color);
}

.theme-div:hover i, .theme-div2:hover i {
    color: var(--second-color);
}

.fa-moon {
    font-size: 27px;
}

.fa-sun {
    font-size: 23px;
    transform: translateX(200%);
}

.contact-btn {
    background-color: var(--second-color);
    color: var(--bg-color);
    width: 130px;
    height: 35px;
    border-radius: 20px;
    animation: shakeBtn 10s 10s infinite;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.contact-btn p {
    color: var(--bg-color);
    z-index: 2;
    position: relative;
}

.contact-btn::before {
    content: '';
    background: var(--third-color);
    position: absolute;
    /* top: 0px; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: -17px; */
    width: 178px;
    height: 168px;
    border-radius: 77px;
    transform: translate(-50%, 30%);
    transition: .5s;
    z-index: 1;
}

.contact-btn:hover::before {
    transform: translate(-50%, -50%);
}

/* .contact-btn:hover p {
    color: #fafafa;
} */

@keyframes shakeBtn {
    1% {
        transform: rotateZ(-4deg) scale(1.03);
    }
    2% {
        transform: rotateZ(4deg) scale(1.06);
    }
    3% {
        transform: rotateZ(-4deg) scale(1.09);
    }
    4% {
        transform: rotateZ(4deg) scale(1.09);
    }
    5% {
        transform: rotateZ(-4deg) scale(1.09);
    }
    6% {
        transform: rotateZ(4deg) scale(1.09);
    }
    7% {
        transform: rotateZ(-4deg) scale(1.06);
    }
    8% {
        transform: rotate(4deg) scale(1.03);
    }
    9% {
        transform: scale(1);
    }
}

.hamburger-menu {
    width: 35px;
    height: 27px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.menu-options {
    background-color: rgb(34 34 34);
    width: 280px;
    height: 400px;
    position: absolute;
    top: 0;
    right: -1px;
    transform: translateX(110%);
    transition: .5s cubic-bezier(.64,.38,.67,1);
    z-index: 0;
    display: none;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding-left: 2rem;
    border-radius: 200px;
    padding-top: 4rem;
}

.menu-column1, .menu-column2 {
    width: 100%
}

.menu-column1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-column1 > div,
.menu-column2 > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    margin-bottom: 1rem;
}

.menu-column2 > div:nth-child(1) {
    margin-top: 1rem;
}

.menu-column1 > div:nth-child(1) p,
.menu-column2 > div:nth-child(1) p {
    font-size: .8rem;
    font-weight: 300;
    color: #ffffffcf;
}

.divider {
    background-color: #ffffffcf;
    height: .5px;
}

.lines {
    background-color: var(--second-color);
    width: 100%;
    height: 4px;
    position: absolute;
    border-radius: 10px;
    transition: .4s;
}

.line1 {
    top: 0;
}

.line2 {
    top: 50%;
    transform: translateY(-50%);
}

.line3 {
    bottom: 0;
}

.portfolio2, .aboutMe2, .projects2 {
    color: #fafafa;
    width: max-content;
}






main {
    font-family: var(--texts-font);
    background-color: var(--bg-color);
    overflow-y: hidden;
    position: relative;
}

main:not(.form-container) {
    pointer-events: auto;
}

.behind-form-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.788);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.form-container {
    background-color: rgb(22 22 22)/* rgb(34 34 34) */;
    width: 600px;
    height: 500px;
    display: flex;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    flex-direction: column;
    padding: 2rem 1.5rem;
    transition: .5s;
    border-radius: 15px;
}

.not-working {
    background-color: #d7a828;
    color: #fafafa;
    padding: 2px 8px;
    border-radius: 10px;
    position: absolute;
    top: 3px;
    right: 176px;
    font-weight: 400 !important;
}

.form-container .fa-circle-xmark {
    position: absolute;
    top: 13px;
    right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: .3s;
}

.form-container .fa-circle-xmark:hover {
    color: rgb(255, 49, 49);
}

.form-container > p:not(.not-working) {
    font-weight: 500;
    margin-top: .3rem;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
}

.form > div label {
    transform: translate(7px, 150%);
    transition: .27s;
    opacity: .6;
    cursor: initial;
    width: max-content;
}

#message-label {
    transform: translate(7px, 339%);
}

.form > div input,
.form > div textarea {
    background-color: rgb(22 22 22);
    border-bottom: 2px solid var(--second-color);
    padding: 0 0 5px 7px;
    font-weight: 300;
    letter-spacing: .8px;
    font-family: var(--texts-font);
    resize: none;
}

.form > div .fa-circle-check,
.form > div .fa-circle-exclamation {
    position: absolute;
    right: 15px;
    top: 27px;
    display: none;
}

.form > div .fa-circle-check {
    color: rgb(0, 151, 0);
}

.form > div .fa-circle-exclamation {
    color: rgb(200, 157, 0);
}

.form > input {
    background-color: #1d7d1d;
    color: #fafafa;
    width: 150px;
    height: 32px;
    cursor: pointer;
    font-size: 1.2rem;
}
/* .form-container::before {
    content: '';
    background: rgba(0, 0, 0, 0.634);
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
} */


.section1, .section2, .section3, .section4 {
    min-height: calc(100vh + 10px);
}

.section1 {
    font-family: var(--section1-font);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hello {
    font-size: 36px;
    padding-bottom: 8px;
    font-weight: 500;
    position: relative;
    width: max-content;
}

.i-am {
    font-size: 85px;
    font-weight: 900;
    position: relative;
}

.i-am2, .i-am3 {
    font-size: 46px;
    font-weight: 900;
    width: max-content;
    position: relative;
    display: none;
}

.developer {
    font-size: 36px;
    font-weight: 500;
    position: relative;
    width: max-content;
}

.hello::before,
.hello::after,
.i-am::before,
.i-am::after,
.i-am2::before,
.i-am2::after,
.i-am3::before,
.i-am3::after,
.developer::before,
.developer::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.pause-animation {
    animation-play-state: paused;
}

.hello::before {
    animation: typewriter 1s 1s steps(11) forwards;
}

.hello::after {
    content: var(--helloContent, '');
    animation: 
        typewriter 1s 1s steps(11) forwards,
        blink var(--helloBlink, 700ms) infinite;
    width: 0.3rem;
    background: var(--second-color);
}

.i-am::before {
    animation: typewriter 1.3s 2.8s steps(16) forwards;
}

.i-am::after {
    animation: 
        typewriter 1.3s 2.8s steps(16) forwards,
        blink var(--iAmBlink, 700ms) infinite;
    width: var(--iAmWidth, 0);
    background: var(--second-color);
}

.i-am2::before {
    animation: typewriter .6s 2.8s steps(6) forwards;
}

.i-am2::after {
    animation: 
        typewriter .6s 2.8s steps(6) forwards,
        blink var(--iAm2Blink, 700ms) infinite;
    width: var(--iAm2Width, 0);
    background: var(--second-color);
}

.i-am3::before {
    animation: typewriter .7s 3.4s steps(9) forwards;
}

.i-am3::after {
    animation: 
        typewriter .7s 3.4s steps(9) forwards;
    width: var(--iAm3Width, 0);
    background: var(--second-color);
}

.developer::before {
    animation: typewriter 1.6s 4.9s steps(24) forwards;
}

.developer::after {
    animation: 
        typewriter 1.6s 4.9s steps(24) forwards,
        blink var(--developerBlink, 700ms) infinite;
    width: var(--developerWidth, 0);
    background: var(--second-color);
}

@keyframes typewriter {
    100% {
        left: 100%;
    }
}

@keyframes blink {
    100% {
        background: transparent;
    }
}

.social-medias {
    display: flex;
    gap: .8rem;
    margin-top: 4rem;
}

.fa-linkedin, .fa-instagram, .fa-github {
    font-size: 23px;
    transition: .2s;
}

.fa-instagram:hover {
    /* background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    transform: scale(1.2);
}

.fa-github:hover,
.fa-linkedin:hover {
    /* color: var(--third-color); */
    transform: scale(1.2);
}

.fa-angles-down {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    font-size: 20px;
    transform: translateY(200%);
    opacity: 0;
    animation: 
        appear .5s 7s forwards,
        bounce 2s 8s infinite;
}

.fa-angles-down:hover {
    opacity: 1;
    transform: scale(1.1);
}

@keyframes appear {
    /* 90% {
        opacity: 0.9;
    } */
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-100%);
        opacity: 0.2;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}



.section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding-top: 70px
    /* opacity: 0.3; */
}

.my-photo {
    width: auto;
    height: 400px;
    border-radius: 10px;
}

.my-photo2 {
    display: none;
    width: auto;
    height: 400px;
    border-radius: 10px;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 628px;
    font-weight: 400;
}

.right-column p,
.right-column span,
.right-column a {
    font-size: 1.2rem;
    line-height: 32px;
    font-weight: 500;
}

.right-column span {
    /* background-color: #0097ff3d; */
    padding: 0 2px;
}

.subtitle2 {
    margin-top: 3rem;
}

.tech-div {
    display: flex;
}

.tech-row1, .tech-row2 {
    display: flex;
    align-items: center;
}

.tech-row1 > div, .tech-row2 > div {
    position: relative;
}

.tech-div .fa-html5, 
.tech-div .fa-css3-alt, 
.tech-div .fa-square-js, 
.tech-div .fa-git-alt, 
.tech-div .fa-database, 
.tech-div .fa-php, 
.tech-div .fa-wordpress {
    font-size: 65px;
    color: #858585;
    transition: .3s;
    padding: 0 1rem;
}

.tech-div .fa-html5/* :hover */ {
    color: #F75421;
}

.tech-div .fa-css3-alt/* :hover */ {
    color: #254BDD;
}

.tech-div .fa-square-js/* :hover */ {
    color: #EFD81D;
}

.tech-div .fa-git-alt/* :hover */ {
    color: #E84D31;
}

.tech-div .fa-php/* :hover */ {
    color: #7377AD;
}

.tech-div .fa-database/* :hover */ {
    color: #00718B;
}

.tech-div .fa-wordpress/* :hover */ {
    color: #1D88B8;
}

/*Hover quando passa o mouse em cima de cada tecnologia*/
.tech-div .fa-html5:hover {
    color: #f75321bc;
}
.tech-div .fa-html5:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-css3-alt:hover {
    color: #254BDDbc;
}
.tech-div .fa-css3-alt:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-square-js:hover {
    color: #EFD81Dbc;
}
.tech-div .fa-square-js:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-git-alt:hover {
    color: #E84D31bc;
}
.tech-div .fa-git-alt:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-database:hover {
    color: #00718Bbc;
}
.tech-div .fa-database:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-php:hover {
    color: #7377ADbc;
}
.tech-div .fa-php:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-wordpress:hover {
    color: #1d87b8bc;
}
.tech-div .fa-wordpress:hover ~ p {
    opacity: 1;
    transform: translateY(0);
}

.tech-div .fa-html5 ~ p {
    left: 14px;
}

.tech-div .fa-css3-alt ~ p {
    left: 22px;
}

.tech-div .fa-square-js ~ p {
    left: 6px;
}

.tech-div .fa-git-alt ~ p {
    left: 33px;
}

.tech-div .fa-database ~ p {
    left: 15px;
    bottom: -49px;
}

.tech-div .fa-php ~ p {
    left: 42px;
}

.tech-div .fa-wordpress ~ p {
    left: 10px;
}

.tech-div .fa-database {
    font-size: 53px;
}

.tech-div p {
    font-size: 16px;
    position: absolute;
    bottom: -43px;
    opacity: 0;
    transform: translateY(30%);
    transition: .5s;
    font-weight: 800;
}






.section3 {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
    overflow: hidden;
}

.section3 h2 {
    font-size: 40px;
}

.projects-container {
    position: relative;
    width: 100%;
    min-height: 500px;
}

.projects-container .fa-chevron-right {
    position: absolute;
    top: 50%;
    right: 3.5rem;
    transform: translate(0, -50%);
    z-index: 2;
    font-size: 85px;
    color: var(--second-color);
    cursor: pointer;
}

.projects-container .fa-chevron-left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 3.5rem;
    z-index: 2;
    font-size: 85px;
    color: var(--second-color);
    cursor: pointer;
    display: none;
}

.projects-container .fa-chevron-left:active,
.projects-container .fa-chevron-right:active {
    opacity: .5;
}

.projects-div {
    background-color: #fafafa;
    width: 540px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 13px;
    box-shadow: 
        0px 15px 20px 0px rgba(0,0,0,.2),
        0px 3px 3px 0px rgba(0,0,0,.10);
    transition: 1s;
}

.projects-div p/* , .projects-div a  */{
    color: black;
}

.project-img-div {
    display: flex;
    justify-content: center;
    align-self: center;
    object-fit: contain;
    width: calc(100% - 23px);
    height: 252px;
    overflow: hidden;
}

.project-img {
    background-color: #666;
    height: 240px;
}

.project-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.project-name {
    font-size: 28px;
    font-weight: 800;
}

.project-description {
    text-align: center;
}

.project-info-div > div {
    display: flex;
    gap: .8rem;
}

.project-tech-div p {
    background-color: #001a34;
    padding: 5px 10px;
    color: #fafafa;
}

.project-tech-div .fa-html5,
.project-tech-div .fa-css3-alt,
.project-tech-div .fa-square-js {
    font-size: 35px;
}

.project-tech-div .fa-html5 {
    color: #F75421;
}

.project-tech-div .fa-css3-alt {
    color: #254BDD;
}

.project-tech-div .fa-square-js {
    color: #EFD81D;
}

.project-links-div {
    display: flex;
    gap: 1rem;
}

.live-project, .source-code {
    height: 36px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    position: relative;
    border: 3px solid #0e0e0e;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #00000024;
    transition: .2s;
}

.live-project {
    background-color: #0e0e0e;
    color: #fafafa;
}

.live-project i {
    color: #fafafa;
}

.live-project:hover {
    background-color: #1e1e1e;
    border: 3px solid #1e1e1e;
}

.source-code, .source-code i {
    color: #0e0e0e;
}

.source-code:hover {
    background-color: #1e1e1e;
    border: 3px solid #1e1e1e;
    color: #fafafa;
}

.source-code:hover .fa-code {
    color: #fafafa;
}

.project1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.project2 {
    position: absolute;
    left: 50%;
    transform: translate(50%) scale(0.7);
    opacity: 0.3;
}

.project3 {
    position: absolute;
    left: 50%;
    transform: translate(130%) scale(0.7);
    opacity: 0.3;
    justify-content: center;
    align-items: center;
    background-color: #bbb;
}

.project3 p {
    font-size: 45px;
}

.pagination {
    display: flex;
    gap: .6rem;
    position: relative;
    margin-bottom: 1rem;
}

.pagination .fa-chevron-left,
.pagination .fa-chevron-right {
    font-size: 34px;
    position: absolute;
    top: -7px;
    display: none;
}

.pagination .fa-chevron-left {
    left: -83px;
}

.pagination .fa-chevron-right {
    right: -83px;
}

.current-page {
    position: relative;
    width: 10px;
    overflow: hidden;
}

.current-page p {
    position: absolute;
    transition: .4s;
}

.current-page p:nth-child(2) {
    transform: translateY(200%);
}

.current-page p:nth-child(3) {
    transform: translateY(400%);
}

@media screen and (max-width: 1060px) {
    .my-photo {
        height: 290px;
    }

    .right-column {
        width: 559px;
    }
}

@media screen and (max-width: 950px) {
    .projects-container .fa-chevron-right {
        right: 1.5rem;
    }

    .projects-container .fa-chevron-left {
        left: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    .my-photo {
        display: none;
    }

    /* .my-photo2 {
        display: block;
    } */

    /* .right-column {
        width: 400px;
    }

    .tech-div {
        flex-direction: column;
        gap: 4rem;
    } */
}

@media screen and (max-width: 880px) {
    .navigation, .theme-div {
        display: none !important;
    }
    
    .hamburger-menu, .menu-options {
        display: flex;
    }

    header {
        justify-content: space-between;
        padding: 0 10%;
    }

    .hello, .developer {
        font-size: 26px;
    }

    .i-am {
        font-size: 64px;
    }
}

@media screen and (max-width: 790px) {
    .form-container {
        width: 440px;
        height: 520px;
    }

    .not-working {
        right: 123px;
        font-size: 14px;
    }

    .projects-div {
        width: 430px;
    }

    .project-img-div {
        height: 235px;
    }
}

@media screen and (max-width: 690px) {
    .hello, .developer {
        font-size: 22px;
    }

    .i-am {
        font-size: 45px;
    }
}

@media screen and (max-width: 650px) {
    .projects-div {
        width: 340px;
    }

    .project-img-div {
        height: 186px;
    }

    .project1 .project-img {
        height: 194px;
    }

    .project2 .project-img-div {
        height: 150px;
    }

    .project2 .project-img {
        height: 152px;
    }

    .project-info-div {
        gap: 1rem;
    }

    .project-links-div {
        flex-direction: column;
        gap: .7rem;
    }
}

@media screen and (max-width: 620px) {
    .right-column {
        width: 430px;
    }

    .tech-div .fa-html5,
    .tech-div .fa-css3-alt,
    .tech-div .fa-square-js,
    .tech-div .fa-git-alt, 
    .tech-div .fa-database, 
    .tech-div .fa-php, 
    .tech-div .fa-wordpress {
        font-size: 50px;
        padding: 0 .8rem;
    }

    .tech-div .fa-database {
        font-size: 43px;
    }

    .tech-div .fa-html5 ~ p {
        left: 6px;
    }

    .tech-div .fa-css3-alt ~ p {
        left: 14px;
    }

    .tech-div .fa-square-js ~ p {
        left: -3px;
    }

    .tech-div .fa-database ~ p {
        left: 9px;
    }

    .tech-div .fa-php ~ p {
        left: 29px;
    }

    .tech-div .fa-wordpress ~ p {
        left: 0px;
    }
}

@media screen and (max-width: 560px) {
    .form-container {
        width: 300px;
    }

    .not-working {
        padding: 2px 7px;
        right: 64px;

    }

}

@media screen and (max-width: 540px) {
    .projects-div {
        width: 280px;
    }

    .project-img-div {
        height: 167px;
    }

    .project1 .project-img {
        height: 173px;
    }

    .project2 .project-img-div {
        height: 133px;
    }

    .project2 .project-img {
        height: 137px;
    }
}

@media screen and (max-width: 470px) {
    .hello, .developer {
        font-size: 20px;
    }

    .i-am {
        font-size: 36px;
    }

    .right-column {
        width: 350px;
    }

    .tech-div .fa-html5,
    .tech-div .fa-css3-alt,
    .tech-div .fa-square-js,
    .tech-div .fa-git-alt, 
    .tech-div .fa-database, 
    .tech-div .fa-php, 
    .tech-div .fa-wordpress {
        font-size: 46px;
        padding: 0 .5rem;
    }

    .tech-div .fa-database {
        font-size: 39px;
    }

    .tech-div .fa-html5 ~ p,
    .tech-div .fa-css3-alt ~ p,
    .tech-div .fa-square-js ~ p,
    .tech-div .fa-database ~ p,
    .tech-div .fa-php ~ p,
    .tech-div .fa-wordpress ~ p {
        font-size: 14px;
    }


    .tech-div .fa-html5 ~ p {
        left: 2px;
    }

    .tech-div .fa-css3-alt ~ p {
        left: 9px;
    }

    .tech-div .fa-square-js ~ p {
        left: -4px;
    }

    .tech-div .fa-database ~ p {
        left: 5px;
        bottom: -47px;
    }

    .tech-div .fa-php ~ p {
        left: 23px;
    }

    .tech-div .fa-wordpress ~ p {
        left: -3px;
    }



    .projects-container .fa-chevron-left {
        left: 0.5rem;
        font-size: 39px;
    }

    .projects-container .fa-chevron-right {
        right: 0.5rem;
        font-size: 39px;
    }
}

@media screen and (max-width: 400px) {
    .i-am {
        display: none;
    }

    .i-am2, .i-am3 {
        display: inline;
    }

    .right-column {
        width: 270px;
    }

    .tech-div .fa-html5,
    .tech-div .fa-css3-alt,
    .tech-div .fa-square-js,
    .tech-div .fa-git-alt, 
    .tech-div .fa-database, 
    .tech-div .fa-php, 
    .tech-div .fa-wordpress {
        font-size: 34px;
    }

    .tech-div .fa-database {
        font-size: 31px;
    }

    .tech-div .fa-html5 ~ p,
    .tech-div .fa-css3-alt ~ p,
    .tech-div .fa-square-js ~ p,
    .tech-div .fa-database ~ p,
    .tech-div .fa-php ~ p,
    .tech-div .fa-wordpress ~ p {
        font-size: 12px;
    }


    .tech-div .fa-html5 ~ p {
        left: 0px;
    }

    .tech-div .fa-css3-alt ~ p {
        left: 7px;
    }

    .tech-div .fa-square-js ~ p {
        left: -5px;
    }

    .tech-div .fa-database ~ p {
        left: 3px;
        bottom: -45px;
    }

    .tech-div .fa-php ~ p {
        left: 18px;
    }

    .tech-div .fa-wordpress ~ p {
        left: -5px;
    }
}

@media screen and (max-width: 354px) {
    .projects-div {
        width: 235px;
    }

    .project-img-div {
        height: 133px;
    }

    .project2 .project-img-div {
        height: 98px;
    }
}

@media screen and (max-width: 320px) {
    .hello, .developer {
        font-size: 18px;
    }
}

@media screen and (max-width: 300px) {
    .form-container {
        width: 100%;
    }
}

/* @media screen and (max-width: 475px) {
    .projects-container .fa-chevron-left, 
    .projects-container .fa-chevron-right {
        display: none;
    }

    .pagination .fa-chevron-left,
    .pagination .fa-chevron-right {
        display: inline;
    }
} */


/*=========================Para celular deitado=========================*/
@media screen and (max-height: 400px) {
    .section1 {
        height: calc(100vh + 9rem);
    }

    .section2 {
        height: 550px;
    }

    .section3 {
        height: 750px;
    }

    .menu-options {
        width: 390px;
        flex-direction: row;
    }

    .menu-column2 > div:nth-child(1) {
        margin-top: 0;
    }
}